/*     css    */

    /* Use this class for background images which move as you scroll */
    .background-image{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:auto;
        z-index:-1;
    }

    /* Use this class for things you want fixed, and fade out/move later */
    .fixed{
        position:fixed;
        top:0;
        left:0;
        width:100%;
    }


    #intro{
        margin-top: 0px;
        width:100%;
        height: auto;
    }

    #usgs-map{
        z-index: -2;
    }

     #main-title{
     	top
        z-index: 1;
        font-size: 1.5em;
        font-family: "Helvetica Neue", sans-serif;

    }

    #strait-title{
        top:200px;
    }


    #navigation{
        background:black;
        color:white;
        height:50px;
        font-size:20px;
        font-weight:bold;
        top:0;
        z-index:100;
        width:100%;
    }

    #nav{
        margin-top:2000px;
    }

    
    #part1-splash{
        width: 100%;
        background-color: #c6ddee;
    }

    #nav-title{
        line-height: 0;
    }

    #counter {
        position:fixed;
        top:0;
        right:0;
    }

